<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<title>Bad Request</title>
<body style="background-color: whitesmoke">
</body>

<div class="container">
    <div class="card" style="width: 18rem; margin-top: 23rem; margin-left: 25rem">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center; color: midnightblue"><strong>OOPS!</strong></h5>
            <p class="card-text" style="text-align: center">You've reached a dead end!<br>The requested page does not exist.Sorry!</p>
            <a href="../" class="btn btn-danger" style="margin-bottom: 0.5rem; margin-left: 2.3rem">Return to Homepage</a>
        </div>

        <div class="card-footer">
            <span style="color: deeppink"><i><strong>Error Code: </strong></i></span><strong>404</strong> Bad Request
        </div>

    </div>
</div>
</html>