{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block navAbout %}active{% endblock %}

{% block content %}
<div class="card w-75" style="margin-top: 3rem; margin-left: 10rem">
  <div class="card-header" style="color: forestgreen">
      <h4><strong>About Us?</strong></h4>
  </div>
  <div class="card-body">
    <p class="card-text">GECKO Sports is a Dublin based start-up setup by 2 full-time students, Ben & Harish. Ben and I are currently in our pen-ultimate
      years in <strong><i>DCU (Dublin City University)</i></strong> studying Computer Applications. GECKO Sports was not planned nor did we ever want to setup a company together.
    It was something that spawned out our mutual connections and interests in Sport. Ben participates in professional cross country running with his club
    Clonliffe Harriers AC while I play Senior Football with my local GAA club, Ballymun Kickhams. Although both of our clubs were completely different, we did
    however share a common problem, the constant need for equipment and clothing. At the time, there were countless companies that were in a position
    to suit our needs but they were just way too expensive. There was no company that provided <strong>affordable but also high quality</strong> material.
    We saw this as a profitable and demanding market and said "why don't we give it a shot?". Voila!</p>
  </div>
</div>

<div class="row">
  <div class="column">
    <img src="https://img2.thejournal.ie/inline/4319981/original/?width=630&version=4319981" style="margin-left: 11rem; margin-top: 4rem;">
  </div>
  <div>
      <img src="http://files.hoganstand.com/common/newgallery/10f3f5e9-fc6c-45ea-860a-f27cdd56c6b4.jpg" style="margin-left: 11rem; margin-top: 4rem; height: 420px">
  </div>
</div>
{% endblock %}