{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block navAbout %}active{% endblock %}

{% block content %}
<div class="card w-75" style="margin-top: 3rem; margin-left: 10rem">
  <div class="card-header" style="color: forestgreen">
      <h4><strong>About Us?</strong></h4>
  </div>
  <div class="card-body">
    <p class="card-text">GECKO Sports is a Dublin based start-up setup by 2 full-time students, Ben & Harish. Ben and I are currently in our pen-ultimate
    years in DCU (Dublin City University)</p>
  </div>
</div>
{% endblock %}