{% extends 'base.html' %}

{% block title %}Admin Signup{% endblock %}

{% block content %}
<form action="." method="POST">
    {% csrf_token %}
    <div class="card" style=" margin-left: 34rem; margin-top: 5rem; width: 25rem">
        <h5 class="card-header" style="text-align: center; color: dodgerblue"><strong><span style="color:red;">Admin</span> Sign-Up 📝</strong></h5>
    <div class="card-body">
        <p class="card-text" style="text-align: center"><strong>Username:</strong> {{form.username}}</p>
        <p class="card-text" style="text-align: center"><strong>Password:</strong> {{form.password1}}</p>
        <p class="card-text" style="text-align: center"><strong>Confirm Password:</strong> {{form.password2}}</p>
        <button class="btn btn-success" type="submit" style="margin-left: 8.5rem;">SUBMIT</button>
    </div>
    </div>
</form>


<div class="card" style="margin-top: 2rem; margin-left: 30rem; width: 32rem">
    <div class="card-header" style="text-align: center; color: orangered">
        <strong>Password Requirements 🔑</strong>
    </div>
    <div class="card-body">
        <ol class="card-text">
            <li>150 characters or fewer. Letters, digits and @/./+/-/_ only.</li>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain <strong>at least 8 characters</strong>.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ol>
    </div>
</div>
{% endblock %}


<!--------
    <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">SUBMIT</button>
    </form>
---->