{% extends 'base.html' %}

{% block title %}All Products{% endblock %}

{% block navAllProducts %}active{% endblock %}

{% block content %}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button><strong>Total Results:</strong> {{count}}
</div>

    <div class="container">
        <div class="row align-items-center">
    {% for product in products %}
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card bg-dark border-light text-white flex-fill" style="width: 14rem; height: 38rem; margin-top: 20px; margin-bottom: 10px; margin-left: 10px">
                    <img src={{product.picture.url}} class="card-img-top" style="height: 20rem; object-fit: cover" alt={{item.customer_name}}>
                    <div class="card-body">
                        <p class="card-text" style="text-align: center; margin-top: 0.5rem">
                            <strong>{{product.name}}</strong><br>
                            <a href="../singleproduct/{{ product.id }}" class="btn btn-primary" style="margin-top: 2rem;">€ {{ product.price }}</a></p>

                        <p class="card-text" style="text-align: center">{{product.description}}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}
