{% extends 'base.html' %}

{% block title %}All Products{% endblock %}

{% block navAllProducts %}active{% endblock %}

{% block content %}
    {% for p in products %}
        <br/>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="#" alt="Card image cap">
            <div class="card-body" align="center">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.description }}</p>
                <a href="../singleproduct/{{ p.id }}" class="btn btn-primary">€ {{ p.price }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
