{% extends 'base.html' %}

{% block title %}Orders Placed{% endblock %}

{% block navOrders %}active{% endblock %}

{% block content %}
<div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button><strong>Total Orders:</strong> {{count}}
</div>

<table class="table table-bordered table-striped table-hover">
    <thead class = "thead-dark">
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Date of Placement</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Customer ID</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.date_created }}</td>
            <td>{{ order.shipping_addr }}</td>
            <td>{{ order.user_id_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
