{% extends 'base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% block title %}
    Reviews
{% endblock %}

{% block navAllProducts %}
    active
{% endblock %}

{% block content %}
    {% for item in reviews %}
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card bg-dark border-light text-white" style="width: 14rem; margin-top: 20px; margin-bottom: 10px; margin-left: 10px">
                    <img src={{item.customer_pic}} class="card-img-top" alt={{item.customer_name}}>
                    <div class="card-body">
                        <p class="card-text" style="text-align: center"><strong>{{item.customer_name}}</strong></p>
                        <p class="card-text" style="text-align: left">{{item.review}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
