{% extends 'base.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% block title %}
    Reviews
{% endblock %}

{% block navAllProducts %}
    active
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
    {% for item in reviews %}
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="card bg-dark border-light text-white flex-fill" style="width: 14rem; height: 28.9rem; margin-top: 20px; margin-bottom: 10px; margin-left: 10px">
                    <img src={{item.customer_pic}} class="card-img-top" style="height: 20rem; object-fit: cover" alt={{item.customer_name}}>
                    <div class="card-body">
                        <p class="card-text" style="text-align: center"><strong>{{item.customer_name}}</strong><br><i>{{item.role}}</i></p>
                        <p class="card-text" style="text-align: center">{{item.review}}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}
