<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table id="product-table">
      <thead>
        <tr>
          <td>Name</td>
          <td>Description</td>
          <td>Price</td>
        </tr>
      </thead>
    </table>

    <br>

    <div class="card" style="width: 22rem; margin-left: 10rem;">
      <div class="card-body">
        <form id="login-form" method="POST" , action=".">
          <label for="username"><strong>Username:</strong></label>
          <input type="text" id="form-username" name="username" placeholder="Your username" />
          
          <br>

          <label for="password"><strong>Password:</strong></label>
          <input type="password" id="form-password" name="password" placeholder="Your password" />
          
          <br>
          <button class="btn btn-success" style="margin-left: 6rem;" type="submit">LOGIN</button>
        </form>
      </div>
    </div>




    <script>
      fetch("http://localhost:8000/api/products/?format=json") // make a request
      .then(response => response.json()) // with our response, get the json data returned
      .then(data =>{
        console.log(data)
        data.forEach(element =>{
          let table = document.getElementById("product-table") // Fetch the table above
          let newRow = document.createElement("tr") // Add in a row <tr></tr>
          table.appendChild(newRow) // Add the new row to table

          let name = document.createElement("td") // Create <td>Inner html</td>
          name.innerHTML = element["name"]
          newRow.appendChild(name)

          let desc = document.createElement("td")
          desc.innerHTML = element["description"]
          newRow.appendChild(desc)

          let price = document.createElement("td")
          price.innerHTML = element["price"]
          newRow.appendChild(price)
        });
      }); // log the json data

      let login = document.getElementById("login-form")
      login.addEventListener("submit", (event) =>{
      event.preventDefault();

      let user = document.getElementById("form-username").value
      let password = document.getElementById("form-password").value

      fetch("http://localhost:8000/token/",
      {
            method: 'POST',
            headers:
            {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({username:user, password:password})
      }).then(response => response.json()).then(data => console.log(data))
    }, true)
    </script>

  </body>
</html>
