<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
        <title><%= title %></title>
        <link rel = "icon" href ="http://localhost:3000/images/title.png" type = "image/x-icon">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><span style="color: forestgreen"><strong>GECKO 🦎</strong></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#carouselExampleIndicators"><strong>Home</strong><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#AboutUs><strong>About</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#Reviews><strong>Reviews</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#Products><strong>Products</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=#contact-us><strong>Contact Us</strong></a>
                    </li>
                </ul>
                <a class="btn btn-success" href="#login" id="login_button" role="button">Login</a>
                <a class="btn btn-info" href="#show-shopping-basket" id="cart" role="button" style="margin-left: .5rem; margin-right: .5rem">Cart 🛒</a>
                <a class="btn btn-danger" id="admin-button" role="button">🛡️</a>
            </div>

            <script src="http://localhost:3000/scripts/admin.js"></script>
        </nav>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: -1rem;">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="http://localhost:3000/images/2.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://localhost:3000/images/1.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://localhost:3000/images/3.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://localhost:3000/images/4.png" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="http://localhost:3000/images/5.png" alt="Fifth slide">
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container" style="width: 25%; margin-left: auto; margin-right: auto; margin-top: 2rem; margin-bottom: 1rem;">
            <h3 style="text-align: center;">Best Sellers <img src="http://localhost:3000/images/bestsellers.svg" style="width: 8%; margin-bottom: 0.5rem;" alt="shopping bag icon"></h3>
        </div>

        <div id="carouselControls" class="carousel slide" data-ride="carousel"  style="margin-left: auto; margin-right: auto; width: 55%; padding-top: 1rem;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card-deck" id="index_deck" style="justify-content: center;"></div>
                </div>
            </div>

            <script src="http://localhost:3000/scripts/bestseller.js">
            </script>

            <div class="container" id="AboutUs" style="padding-top: 7rem"></div>
            <div class="container" style="width: 30%; text-align: center">
                <h3>Who Are We? <img src="http://localhost:3000/images/aboutUs.svg" style="width: 15%; margin-bottom: 0.5rem;" alt="info icon 1"></h3>
            </div>

            <div class="container" style="width: 100%;">
                <div class="card w-80" style="margin-top: 2rem;">
                    <div class="card-header" style="color: forestgreen">
                        <h4><strong>About Us? </strong><img src="http://localhost:3000/images/aboutUs2.svg" style="width: 3%; margin-bottom: 0.2rem;" alt="info icon 2"></h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">GECKO Sports is a Dublin based start-up setup by 2 full-time students, Ben & Harish. Ben and I are currently in our pen-ultimate
                          years in <strong><i>DCU (Dublin City University)</i></strong> studying Computer Applications. GECKO Sports was not planned nor did we ever want to setup a company together.
                        It was something that spawned out our mutual connections and interests in Sport. Ben participates in professional cross country running with his club
                        Clonliffe Harriers AC while I play Senior Football with my local GAA club, Ballymun Kickhams. Although both of our clubs were completely different, we did
                        however share a common problem, the constant need for equipment and clothing. At the time, there were countless companies that were in a position
                        to suit our needs but they were just way too expensive. There was no company that provided <strong>affordable but also high quality</strong> material.
                        We saw this as a profitable and demanding market and said "why don't we give it a shot?". Voila!</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <img src="https://img2.thejournal.ie/inline/4319981/original/?width=630&version=4319981" alt="Clonliffe Harriers Cross Country" style="padding-left: 2rem, margin-top: 4rem; width: 70%; float: right;">
                    </div>
                    <div class="col-6">
                        <img src="http://files.hoganstand.com/common/newgallery/10f3f5e9-fc6c-45ea-860a-f27cdd56c6b4.jpg" alt="Paddy Small Playing For Ballymun GAA Club" style="width: 70%;">
                    </div>
                </div>

                <div class="card w-80" style="margin-top: 1rem">
                    <div class="card-header" style="color: #c71585">
                        <h4><strong>Meaning behind GECKO? 🦎</strong></h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">We always get the question, <i>"What on earth does GECKO stand for or mean?"</i>. The reason is quite simple to be honest.
                        You can think of it being a little symbolic. Just like a GECKO sheds its skin to get a new skin we're essentially operating under the same
                        concept. We provide new material to those wanting evolve.</p>
                    </div>
                </div>
            </div>

            <div class="container" id="Reviews" style="padding-top: 10rem"></div>
            <div class="container" style="width: 60%; text-align: center; margin-bottom: 2rem;">
                <h3>Reviews From Our Famous Irish Faces ☘<img src="http://localhost:3000/images/reviews.svg" style="width: 7%; margin-bottom: 1.2rem;" alt="reviews icon"></h3>
            </div>

            <div class="container" style="width: 40%; margin-bottom: 1rem;">
                <div class="container" style="height: 23px; text-align: center; margin-bottom: 1rem;">
                    <p><strong>Customer Satisfaction</strong></p>
                </div>

                <div class="container">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">89%</div>
                    </div>
                </div>

                <div class="container" style="margin-top: 1rem">
                    <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">11%</div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row align-items-center" id="review-row">
                </div>

            <script src="http://localhost:3000/scripts/reviews.js">
            </script>

            </div>

            <div class="container" style="padding-top: 10rem"></div>
            <div class="container" id="Products" style="width: 30%; text-align: center; margin-bottom: 2rem;">
                <br><br>
                <h3>Products <img src="http://localhost:3000/images/cart.svg" style="width: 14%; margin-bottom: 0.5rem;" alt="cart icon"></h3>
            </div>


            <table id="product-table" class="table table-bordered">
                <thead>
                    <tr>
                        <td scope="col" style="width: 15%;"><strong>Picture</strong></td>
                        <td scope="col" style="width: 15%;"><strong>Name</strong></td>
                        <td scope="col" style="width: 30%;"><strong>Description</strong></td>
                        <td scope="col" style="width: 10%;"><strong>Price</strong></td>
                        <td scope="col" style="width: 16%;"><strong>Add to Basket</strong></td>
                    </tr>
                </thead>
            </table>
            <div id="show-shopping-basket">
                <button id="show-basket" class="btn btn-primary">Show Basket</button>
                <table id="shopping-basket" class ="table table-striped table-bordered">
                    <tr>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                    </tr>
                </table>
                <form id="checkout-form" method="POST", action=".">
                    <label for="shipping_addr">Shipping Address</label>
                    <input type="text" name="shippping_addr" placeholder="Shipping address" id="shippping_addr">
                    <button id="checkout-button" type="submit">Checkout</button>
                </form>
            </div>

            <div class="container" id="empty-container-below-products"></div>
            <br>

            <div class="d-flex align-items-center" id="login" style="height: 700px; width:100%; margin: auto;">

                <div class="col-6">
                    <div class="container" style="width: 100%; padding-top: 5rem; padding-bottom: 5rem; padding-left: 2rem;">
                        <div class="card" style="width: 22rem;">
                            <h5 class="card-header" style="text-align: center">Login  <img src="http://localhost:3000/images/login.svg" style="width: 8%; margin-bottom: 0.2rem;" alt="login icon"></h5>
                            <div class="card-body">
                                <form id="login-form" action="." method="POST">
                                    <label for="username"><strong>Username:</strong></label>
                                    <input type="text" id="username" name="username" placeholder="Your username" />
                                    <br>
                                    <label for="password"><strong>Password:</strong></label>
                                    <input type="password" id="password" name="password" placeholder="Your password" />

                                    <br>
                                    <button class="btn btn-success" style="margin-left: 6rem;" type="submit">LOGIN</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col" style="padding-left: 5rem;"><img src="http://localhost:3000/images/GECKO.png" alt="Gecko Sports Logo"></div>
            </div>


            <script src="http://localhost:3000/scripts/products.js">
            </script>

            <div class="container mb-3" style="width: 30%; text-align: center;">
                <h3>Get In Touch <img src="http://localhost:3000/images/contactUs.svg" style="width: 14%; margin-bottom: 0.5rem;" alt="contact-us icon"></h3>
            </div>
            <div class="container" id="contact-us">
                <div class="row">
                    <div class="col" style="padding-left: 3rem;">
                        <form>
                            <div class="form-group">
                                <label for="name">Name:<span style="color: red;">*</span></label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <br>

                                <label for="email">Email address:<span style="color: red;">*</span></label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">

                                <br>

                                <label for="subject">Subject:</label><span style="color: red;">*</span>
                                <input type="subject" class="form-control" id="message-subject" placeholder="Message Subject">

                                <br>

                                <label for="message">Message:<span style="color: red;">*</span></label>
                                <input type="message" class="form-control" id="customer-message" placeholder="Enter Message">
                            </div>
                            <button id="contact_us_button" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                    <div class="col" style="padding-left: 4rem; padding-top: 3rem;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d755.691912751479!2d-6.2684913551579875!3d53.360961155087054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e7f2e79db15%3A0xd07ea09ff953fd6b!2sMountjoy%20Prison!5e1!3m2!1sen!2sie!4v1618955562898!5m2!1sen!2sie" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" alt="map">
                        </iframe>
                    </div>
                </div>
            </div>

        <script src="http://localhost:3000/scripts/contact_us.js">
        </script>
        <br>
        </div>

        <div class="container" style="margin-top: 2rem; padding-left: 9rem;">
            <img src="http://localhost:3000/images/download-now.png" style="width: 100%; margin-left: auto; margin-right: auto;" alt="play store and app store image">
        </div>

        <div class="container" style="height: 100px;">
          <!-- Find Us section --->
            <div class="container" style="width: 40%; float: left; text-align: center;">
                <h6><i>Find us on:</i></h6>

                <div class="container" style="width: 70%; justify-content: center;">
                    <img src="http://localhost:3000/images/facebook.svg" style="width: 13%; margin-right: 0.5rem;" alt="facebook icon">
                    <img src="http://localhost:3000/images/snapchat.svg" style="width: 13%; margin-right: 0.5rem;" alt="snapchat icon">
                    <img src="http://localhost:3000/images/instagram.svg" style="width: 13%; margin-right: 0.5rem;" alt="instagram icon">
                    <img src="http://localhost:3000/images/youtube.svg" style="width: 13%" alt="youtube icon">
                </div>
            </div>

            <!-- We accept section --->
            <div class="container" style="width: 30%; float: right; text-align: center;">
                <h6><i>We Accept:</i></h6>

                <div class="container" style="width: 90%; justify-content: center; ">
                    <img src="http://localhost:3000/images/visa.svg" style="width: 20%; margin-right: 0.5rem;" alt="visa icon">
                    <img src="http://localhost:3000/images/paypal.svg" style="width: 20%; margin-right: 0.5rem;" alt="paypal icon">
                    <img src="http://localhost:3000/images/mastercard.svg" style="width: 15%;" alt="mastercard icon">
                </div>
            </div>
            <p style="text-align: center; float: bottom;">Copyright @ 2021 GECKO Sports.<br>All rights reserved.</p>
        </div>
    </body>
</html>
