<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><span style="color: forestgreen"><strong>GECKO 🦎</strong></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/"><strong>Home</strong><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="../about"><strong>About</strong></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" href="/products"><strong>Products</strong></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/reviews"><strong>Reviews</strong></a>
              </li>
          </ul>
          <a class="btn btn-danger" href="/login" role="button">Login</a>
      </div>
  </nav>

    <h1>Products</h1>

    <table id="product-table" class="table table-bordered">
      <thead>
        <tr>
          <td scope="col" style="width: 10%;"><strong>Picture</strong></td>
          <td scope="col" style="width: 10%;"><strong>ID</strong></td>
          <td scope="col" style="width: 15%;"><strong>Name</strong></td>
          <td scope="col" style="width: 30%;"><strong>Description</strong></td>
          <td scope="col" style="width: 20%"><strong>Price</strong></td>
          <td scope="col" style="width: 15%;"><strong>Add to Basket</strong></td>
        </tr>
      </thead>
    </table>





    <script>
      fetch("http://localhost:8000/api/products/?format=json") // make a request
      .then(response => response.json()) // with our response, get the json data returned
      .then(data =>{
        console.log(data)
        data.forEach(element =>{
          let table = document.getElementById("product-table") // Fetch the table above
          let newRow = document.createElement("tr") // Add in a row <tr></tr>
          table.appendChild(newRow) // Add the new row to table

          let picturetd = document.createElement("td")
          let picture = document.createElement("img")
          picture.src = element['picture']
          picture.style.width = '100%'
          newRow.appendChild(picturetd)
          picturetd.appendChild(picture)

          let ID = document.createElement("td")
          ID.innerHTML = element["id"]
          newRow.appendChild(ID)

          let name = document.createElement("td") // Create <td>Inner html</td>
          name.innerHTML = element["name"]
          newRow.appendChild(name)

          let desc = document.createElement("td")
          desc.innerHTML = element["description"]
          newRow.appendChild(desc)

          let price = document.createElement("td")
          price.innerHTML = element["price"]
          newRow.appendChild(price)

          let buttoncontainer = document.createElement("td")
          let button = document.createElement("button")
          button.innerHTML = "Add to Cart 🛒"

          button.addEventListener('click', function(){
            addToBasket(element['id'])
          })
          button.style.backgroundColor = "Red"
          button.style.color = "white"
          button.style.borderColor = "DarkRed"
          button.style.borderRadius = "5px"
          button.style.fontSize = "125%"
          buttoncontainer.appendChild(button)
          newRow.appendChild(buttoncontainer)
        });
      }); // log the json data

      function addToBasket(prodid)
      {
        if(window.token){
          fetch(`http://localhost:8000/addbasket/${prodid}?json=True`,{
            method: 'GET',
            headers:{
              'Accept': 'application/json',
              'Content-Type': 'application/json',
              'Authorization': 'Token '+window.token
            }
          }).then(response => response.json()).then(data=>console.log(data));
        }
        else
        {
          alert("Please log in to continue")
        }
      }
    </script>
  <br>

  </body>
</html>
